/*Write your code here*/
#main{
    width: 300px;
    padding: 10px 20px 20px 20px;
    margin: 50px 50px 50px 50px;
    border: 2px;
    border-style: solid;
}

#input1, #input2, #input3, #input4, #btn{
    margin-bottom: 15px;
}